* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--clr-font);
}

body {
    background-color: var(--clr-background);
    color: var(--clr-primary);
    --sidebar-width: 15rem;
    z-index: 0;
}

#sidebar {
    top: 2rem;
    left: 2rem;
    height: calc(100vh - 4rem);
    width: var(--sidebar-width);
    position: fixed;
    background-color: var(--clr-foreground);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--gap);
    z-index: 1;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

#sidebar div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    z-index: 2;
}

#icon {
    display: flex;
    justify-content: center;
}

#icon svg {
    background-color: var(--clr-background);
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

#sidebar button {
    width: 100%;
    flex-shrink: 0;
    border-radius: 15px;
    outline: transparent;
    border: none;
    color: var(--clr-primary);
    background-color: var(--clr-background-bright);
    padding: 5px;
    font-size: medium;
    cursor: pointer;
}

#actions button {
    background-color: var(--clr-background);
}

#sidebar button:hover {
    filter: brightness(200%);
}

#setting-sections {
    position: absolute;
    left: calc(var(--sidebar-width) + 2rem);
    height: 100vh;
    overflow: auto;
    z-index: 1;
}

.setting-section {
    background-color: var(--clr-foreground);
    box-shadow: var(--box-shadow);
    margin: 2rem;
    border-radius: var(--border-radius);
    padding: var(--gap);
    position: relative;
    z-index: 2;
}

.section-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
}


.setting-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-top: 2px solid var(--clr-background);
}

.setting-section .setting-card:nth-child(2) {
    border: none;
}

.setting-card-title {
    color: var(--clr-primary);
}

.setting-card-description {
    font-size: small;
    color: var(--clr-primary-dark)
}

.setting-card-input {
    display: flex;
}

.setting-card:hover input {
    background-color: var(--clr-background) !important;
}

.setting-card input[type="text"] {
    outline: none;
    border: none;
    text-align: right;
    font-size: medium;
    background-color: var(--clr-background-bright);
    color: var(--clr-accent);
    margin-right: 2px;
}

.stroke {
    stroke: var(--clr-font);
}

.stroke-accent {
    stroke: var(--clr-accent);
}

.command-row {
    width: 100%;
    display: flex;
    margin-bottom: var(--gap);
    padding: var(--gap);
    border-radius: var(--border-radius);
    background-color: var(--clr-highlight);
    gap: var(--gap);
    align-items: center;
}

.command-name {
    width: 30%;
}

.command-value {
    flex-grow: 1;
}

.command-row.command-new input {
    background-color: var(--clr-accent);
    padding: 5px 5px;
    border-radius: var(--border-radius);
    outline: none;
    border: none;
    color: var(--clr-font);
    font-size: 1rem;
    width: 100%;
}

.command-row.command-new input::placeholder {
    color: var(--clr-font-faded);
}

#new-command-button {
    flex-shrink: 1;
    height: var();
    width: max-content;
    /* width: 2rem; */
    background-color: var(--clr-accent);
    border-radius: 50%;
}

#new-command-button svg {
    height: 100%;
    width: 100%;
    fill: var(--clr-font);
}