<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="settings.css">
    <script type="module" src="settings.js" defer></script>
</head>

<body>
    <div id="sidebar">
        <button>General</button>
        <button>Apperance</button>
    </div>
    <div id="container">
        <div class="settings-section" id="general-settings-section">
            <h3>General</h3>
        </div>
    </div>
</body>

</html>