<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Settings.css">
    <script type="module" src="Main.ts" defer></script>
</head>

<body>
    <div id="sidebar">
        <div id="sidebar-top">
            <div id="icon"></div>
            <div id="section-selectors">
            </div>
        </div>
        <div id="actions">
            <button id="ac-cancel">Cancel</button>
            <button id="ac-ok">Ok</button>
            <button id="ac-apply">Apply</button>
        </div>
    </div>
    <div id="setting-sections">
    </div>
</body>

</html>