* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    user-select: none;
    -webkit-user-select: none;
    cursor: default
}

html {
    width: 100vw;
    height: 100vh;
    --clr-background: rgba(0, 0, 0, 0.7);
    --clr-border: rgba(255, 255, 255, 0.7);

    --sz-window-height-when-closed: 8px;
    --sz-window-height: 500px;
    --sz-window-location-when-closed:
        calc(var(--sz-window-height) - var(--sz-window-height-when-closed) * -1);
}

body {
    position: relative;
    width: 100vw;
    height: var(--sz-window-height-when-closed);
}

body.window-opening {
    height: var(--sz-window-height);
}

body.window-open {
    height: var(--sz-window-height);
}

#container {
    width: 100%;
    height: var(--sz-window-height-when-closed);
    position: absolute;
    bottom: 15px;
    background-color: var(--clr-background);
    border-bottom: 2px solid var(--clr-border);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.5s;
    overflow: hidden;
}


/* 
.window-opening>#container {
    height: 500px;
}


.window-open>#container {
    height: 500px;
} */