#connection-state {
    max-height: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    padding: 0 .3rem;
    transition: 0.5s;
}

.show-connection-state.window-open #connection-state,
.show-connection-state.window-opening #connection-state {
    max-height: 400px;
}