#connection-state {
    max-height: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    transition: 0.5s;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.show-connection-state .window-open #connection-state {
    max-height: 50vh;
    margin-top: var(--gap);
    padding: var(--gap);
    box-shadow: var(--box-shadow);
}