#files-tab-body {
    position: relative;
    --header-height: 2rem;
    display: flex;
    flex-direction: column;
}

#files-tab-body.active {
    padding-top: calc(var(--header-height) + var(--gap));
}

#directory-header {
    background-color: var(--clr-background);
    z-index: 1;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: var(--gap);
    top: var(--gap);
    width: calc(100% - 2 * var(--gap));
    padding: 0 var(--gap);
}

#directory-goback {
    width: 1.5rem;
    cursor: pointer;
}

#directory-goback svg {
    height: 100%;
    width: 100%;
}

#directory-goback path {
    fill: var(--clr-primary);
}

#directory-actions {
    height: 100%;
}

#directory-actions>div {
    height: 100%;
    padding: .1rem;
}

#directory-actions svg {
    height: 100%;
    width: auto;
}

#directory-body {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    justify-content: flex-start;
    overflow-y: scroll;
    padding: var(--gap);
}

.directory-item {
    flex-grow: 1;
    height: 6rem;
    background-color: var(--clr-background);
    cursor: pointer;
    padding: var(--gap);
    border-radius: 15px;
    transition: var(--transition);
    line-break: anywhere;
    border: 1px solid transparent;
    box-shadow: var(--box-shadow);
    position: relative;
}


.directory-item:hover,
.select .directory-item.file {
    background-color: var(--clr-baclground-accent);
}

.select .directory-item:has(input:checked) {
    border: 1px solid var(--clr-accent);
}

.file-icon {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-icon span {
    line-break: strict;
    font-weight: 900;
}

.file-icon svg {
    width: 100%;
    height: auto;
}

.directory-item-menu {
    position: absolute;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    border-radius: 15px;
    display: none;
    top: 5px;
    right: 5px;
    z-index: 2;
    transition: 1s;
    transition-delay: 2.5s;
}

.directory-item-menu>div {
    padding: var(--gap);
}

.select .directory-item-menu {
    display: none !important;
}

.directory-item:focus-within .directory-item-menu {
    display: block;
}