#files-tab-body.active {
    display: flex ;
    flex-direction: column;
    --header-height: 2rem;
    position: relative;
    padding-top: var(--header-height);
}

.active #directory-header {
    width: calc(100% - 2 * var(--gap));
    height: var(--header-height);
    position: absolute;
    left: var(--gap);
    top: var(--gap);
    display: flex;
    gap: var(--gap);
    align-items: center;
    padding: var(--gap);
    z-index: 1;
    background-color: var(--clr-background);
}

#directory-goback {
    width: 1.5rem;
    cursor: pointer;
}

#directory-goback svg {
    height: 100%;
    width: 100%;
}

#directory-goback path {
    fill: var(--clr-primary);
}

#directory-body {
    height: calc(100% - var(--header-height));
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    padding: var(--gap);
    justify-content: space-between;
    z-index: 0;
}

.directory-row {
    min-width: 50%;
    max-width: 50%;
    display: flex;
    align-items: center;
    gap: var(--gap);
    background-color: var(--clr-background);
    cursor: pointer;
    padding: var(--gap);
    border-radius: 15px;
    transition: var(--transition);
    line-break: anywhere;
}

.directory-row:hover {
    background-color: var(--clr-baclground-accent);
}

.file-icon {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-icon span {
    line-break: strict;
    font-weight: 900;
}

.file-icon svg {
    width: 100%;
    height: auto;
}

.directory-row path {
    fill: var(--clr-primary);
}