#header-container {
    padding: 0 var(--gap);
    overflow: hidden;
}

#sub-header {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
}

#header-actions {
    display: flex;
}

#header-actions {
    display: flex;
}

#header-actions svg {
    scale: 0.7;
}

#header-actions>div:hover,
.pinned #header-action-pin {
    cursor: pointer;
    --clr-font: var(--clr-accent)
}

#header-container svg {
    height: var(--sz-icon);
    width: var(--sz-icon);
}

#app-icon {
    stroke-width: 30px;
}

#connection-state {
    max-height: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    transition: 0.5s;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.show-connection-state .window-open #connection-state {
    max-height: 50vh;
    margin-top: var(--gap);
    padding: var(--gap);
    box-shadow: var(--box-shadow);
}