#header-container {
    padding: 0 var(--gap);
    overflow: hidden;
}

#sub-header {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
}

#header-actions {
    display: flex;
}

#header-actions svg {
    scale: 0.7;
}

#header-actions>div:hover,
.pinned #header-action-pin {
    cursor: pointer;
    --clr-font: var(--clr-accent)
}

#header-container svg {
    height: var(--sz-icon);
    width: var(--sz-icon);
}

#app-icon {
    stroke-width: 30px;
}

.connection-state {
    max-height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.show-connection-state .window-open .connection-state {
    max-height: 50vh;
}

#connection-state-header {
    margin-top: var(--gap);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#connection-state-body {
    width: 100%;
    display: flex;
}

#connection-state-body>div {
    max-width: 50%;
    flex-grow: 1;
    padding: var(--gap);
}

#connection-state-body-qr>canvas {
    width: 100% !important;
    height: auto !important;
    aspect-ratio: 1 !important;
    border-radius: 15px;
}

#connection-state-body-credentials {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.credential-title {
    width: min-content;
    border-bottom: 3px solid var(--clr-font);
    margin-bottom: 4px;
    padding-bottom: 2px;
}

.credential-value {
    font-size: 1.4rem;
}

.connection-state.type-error {
    display: flex;
    justify-content: space-between;
}

#connection-error-title {
    display: flex;
    align-items: center;
    gap: 3px;
    margin: var(--gap) 0;
}

#refresh-button {
    margin: var(--gap) 0;
    width: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px var(--gap);
    border-radius: var(--border-radius);
    color: var(--clr-font);
    border: 2px solid var(--clr-font);
    background-color: var(--clr-foreground);
    cursor: pointer;
}

#refresh-button:hover {
    background-color: var(--clr-highlight);
}