.image-date-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-shrink: 0;
    gap: var(--gap);
    margin-bottom: var(--gap);
    padding: var(--gap);
}

.date-container-header {
    width: 100%;
    color: var(--clr-primary);
}

.image-thumbnail {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

#load-more-image-button {
    padding: var(--gap);
    cursor: pointer;
    transition: var(--transition);
    width: fit-content;
    margin: 0 auto var(--gap);
}