.image-date-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    margin-bottom: var(--gap);
    padding: var(--gap);
}

.date-container-header {
    width: 100%;
    min-width: 0;
    flex-grow: 1;
    color: var(--clr-font);
    margin-bottom: var(--gap);
}

.image-thumbnail {
    height: 6rem;
    aspect-ratio: 1;
    object-fit: cover;
}

#load-more-image-button {
    padding: var(--gap);
    cursor: pointer;
    transition: var(--transition);
    width: fit-content;
    margin: 0 auto var(--gap);
    box-shadow: var(--box-shadow);
}