#io-container {
    transition: var(--transition);
    border-radius: 15px;
    box-shadow: var(--box-shadow);
}

#io-container:has(.io-progress) {
    margin-top: var(--gap);
}

.io-progress {
    display: flex;
    flex-wrap: wrap;
    transition: var(--transition);
    margin-bottom: var(--gap);
}

.io-progress:last-child {
    margin-bottom: 0;
}

.io-header,
.io-bar {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    transition: var(--transition);
    padding: 0 var(--gap);
}

.io-progress.removing .io-header,
.io-header {
    height: 0;
    z-index: 5;
    align-items: center;
    overflow: hidden;
}

.io-progress:hover .io-header {
    height: 2rem;
}

.io-header-icon {
    height: 100%;
}

.io-header-icon svg {
    height: 100%;
    width: auto;
}

.io-progress.removing .io-bar,
.io-bar {
    background-image: linear-gradient(90deg,
            var(--clr-accent) var(--ratio),
            var(--clr-background-bright) var(--ratio) 100%);
    border-radius: 15px;
    height: 15px;
    align-items: center;
}

.io-bar>div {
    width: 25%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.io-progress:hover .io-bar {
    height: 2rem;
}

.io-progress.removing .io-bar {
    height: 0;
}

.io-bar>div,
.io-progress.removing .io-bar>div {
    transition: var(--transition);
    opacity: 0;
}

.io-progress:hover .io-bar>div {
    opacity: 1;
}

.io-bar-actions {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    pointer-events: fill;
}

.io-bar-actions svg,
.io-bar-actions div {
    height: 100%;
    width: 2rem;
    cursor: pointer;
}

.io-bar-actions div:hover {
    filter: brightness(150%);
}