#media-session-container {
    height: 6rem;
    padding: 0;
    scroll-snap-type: y mandatory;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}

#media-session-container::-webkit-scrollbar {
    width: 3px;
}

#media-session-container::-webkit-scrollbar-thumb {
    background-color: var(--clr-accent);
    border-radius: var(--border-radius);
}

.session {
    display: flex;
    overflow: hidden;
    height: inherit;
    width: 100%;
    z-index: 2;
    scroll-snap-align: start;
    gap: var(--gap);
    scroll-snap-stop: always;
    cursor: default;
    padding-right: var(--gap);
}

.session-image {
    height: 100%;
    width: auto;
    aspect-ratio: 1;
    object-fit: cover;
    z-index: 3;
    background-color: var(--clr-highlight);
}

.session-image svg {
    scale: .75;
    --clr-font: var(--clr-foreground);
}

.session-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    min-width: 0;
    z-index: 3;
}

.session-info>div {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--clr-font);
}

.session-controls {
    width: 100%;
    display: flex;
    z-index: 4;
    align-items: center;
    gap: var(--gap);
}

.session-progress-bar {
    flex-grow: 1;
    height: var(--sz-icon);
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    background-color: var(--clr-highlight);
    cursor: pointer;
}

.session-progress-bar::after {
    content: '';
    position: absolute;
    width: var(--start);
    height: 100%;
    background-color: var(--clr-accent);
}

.playing .session-progress-bar::after {
    animation: progress-bar var(--duration) linear forwards;
}

@keyframes progress-bar {
    from {
        width: var(--start);
    }

    to {
        width: 100%;
    }
}

.session-actions {
    border-radius: var(--border-radius);
    display: flex;
    overflow: hidden;
    height: 2rem;
    background-color: var(--clr-highlight);
}

.session-actions>div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.session-actions svg {
    --clr-font: var(--clr-accent);
    height: inherit;
    width: auto;
    cursor: pointer;
}

.actions-play-pause {
    height: inherit;
}

.actions-play-pause div {
    height: inherit;
    transition: var(--transition);
}

.action-pause {
    position: absolute;
    top: 100%;
}

.playing .action-play {
    opacity: 0;
}

.playing .action-pause {
    top: 0;
}

.actions-play-pause {
    overflow: hidden;
    position: relative;
    display: block;
}