#media-session-container {

    height: 6rem;
    padding: 0;
    scroll-snap-type: y mandatory;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}

.session {
    display: flex;
    overflow: hidden;
    height: inherit;
    width: 100%;
    z-index: 2;
    scroll-snap-align: start;
    gap: var(--gap);
    scroll-snap-stop: always;
}

/* .session:first-child {
    margin-top: 6rem;
}

.session:last-child {
    margin-bottom: 6rem;
} */

.session-image {
    height: 100%;
    width: min-content;
    aspect-ratio: 1/1;
    box-shadow: var(--box-shadow);
    object-fit: cover;
    z-index: 3;
}

.session-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    min-width: 0;
    z-index: 3;
}

.session-info>div {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--clr-font);
}

.session-controls {
    width: 100%;
    display: flex;
    z-index: 4;
    align-items: center;
}

.session-progress-bar {
    flex-grow: 1;
    height: var(--sz-icon);
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.session-progress-bar::after {
    content: '';
    position: absolute;
    width: var(--start);
    height: 100%;
    background-color: var(--clr-accent);
}

.playing .session-progress-bar::after {
    animation: progress-bar var(--duration) linear forwards;
}

@keyframes progress-bar {
    from {
        width: var(--start);
    }

    to {
        width: 100%;
    }
}

.session-actions>div {
    display: inline-block;
}

.session-actions svg {
    height: var(--sz-icon);
    width: var(--sz-icon);
}

.actions-play-pause div {
    height: var(--sz-icon);
    transition: var(--transition);
}

.action-pause {
    position: absolute;
    top: 100%;
}

.playing .action-play {
    opacity: 0;
}

.playing .action-pause {
    top: 0;
}

.actions-play-pause {
    overflow: hidden;
    position: relative;
    display: block;
}