#recent-notifications-container {
    max-height: 0;
    border-radius: var(--border-radius);
}

#recent-notifications-container:has(.notification) {
    max-height: 100vh;
    box-shadow: var(--box-shadow);
    margin-top: var(--gap);
}

#recent-notifications-container .notification {
    transition: var(--transition);
    padding: 0 !important;
    max-height: 0px !important;
    overflow: hidden !important;
}

#recent-notifications-container .notification.active {
    max-height: 200px !important;
    padding: var(--gap) !important;
}


#notifications-tab-body>div,
#notifications-tab-body>label {
    width: 100%;
    margin-top: var(--gap);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.notification-group>label {
    border-bottom: 1px solid var(--clr-background-dark);
}

.notification {
    display: block;
    max-height: 10rem;
    position: relative;
    padding: var(--gap);
    overflow: auto;
}


.notification-body {
    max-height: 100%;
    display: flex;
    position: relative;
    gap: var(--gap);
    z-index: 5;
}

.notification input {
    opacity: 0;
    position: absolute;
}

.notification-progress {
    background-image: linear-gradient(90deg,
            var(--clr-accent) var(--ratio),
            transparent var(--ratio) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    z-index: 0;
}

.notification-folder {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    right: var(--gap);
    top: 5px;
    border-radius: 50%;
    z-index: 5;
    background-color: var(--clr-accent-transparent);
}

.notification:has(input:checked)>.notification-folder {
    transform: rotate(-180deg);
}

.notification-actions {
    width: max-content;
    display: flex;
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
    max-height: 0;
    z-index: 5;
}

.notification input:checked~.notification-actions {
    margin-top: var(--gap);
    max-height: 100px;
}

.notification-action {
    background-color: var(--clr-accent);
    padding: 5px;
    display: inline;
    color: var(--clr-primary);
    transition: var(--transition);
    cursor: pointer;
}

.notification-action:hover {
    background-color: var(--clr-accent-dark);
}

.notification-large-icon {
    width: 4rem;
    height: 4rem;
}

.notification-content {
    height: 100%;
    overflow-y: scroll;
}

.notification-content>div {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.notification input:checked~.notification-body .notification-content>div {
    word-break: break-all;
    white-space: normal;
}

.notification-title {
    display: flex;
    align-items: center;
    gap: 5px;
}

.notification-title img {
    height: 1.2rem;

}

.notification-text,
.notification-big-text {
    color: var(--clr-primary-dark);
}

/* @keyframes bounce {
    from {
        background-color: red;
        max-height: 0px !important;
        padding: 0;
    }

    to {
        background-color: blue;
        padding: var(--gap);
    }
}

@keyframes unbounce {
    from {
        background-color: green;
        max-height: 200px !important;
        padding: var(--gap);
    }

    to {
        background-color: orange;
        max-height: 0px !important;
        padding: 0;
    }

} */