#recent-notification-container {
    overflow: scroll;
    max-height: 0;
}

.notification-avaliable #recent-notification-container {
    max-height: 60vh;
    box-shadow: var(--box-shadow);
    margin-top: var(--gap);
    border-radius: 15px;
}

.notification {
    width: 100%;
    margin-top: var(--gap);
    display: flex;
    position: relative;
    gap: var(--gap);
    padding: var(--gap);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    overflow: hidden;
}

.notification.temporary {
    animation: bounce 5s forwards;
}

.notification-large-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.notification-body {
    flex-grow: 1;
}

.notification-actions:has(*) {
    background-color: var(--clr-background);
    /* bottom: calc(-1 * var(--gap)); */
    /* right: var(--gap); */
    bottom: -100%;
    right: 0;
    position: absolute;
    height: calc(3 * var(--gap));
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    box-shadow: var(--box-shadow);
    transition: var(--transition);
}

.notification-action {
    color: var(--clr-primary);
    background-color: transparent;
    outline: transparent;
    border: none;
    transition: var(--transition);
    padding: var(--gap);
    cursor: pointer;
}

.notification-action:hover {
    background-color: var(--clr-baclground-accent);
    filter: brightness(200%);
}

.notification:hover .notification-actions {
    bottom: 0;
}

.notification.temporary .notification-actions {
    bottom: 0;
}

@keyframes bounce {
    0% {
        max-height: 0;
    }

    10% {
        max-height: 200px;
    }

    90% {
        max-height: 200px;
    }

    to {
        max-height: 0;
    }
}