.notification-group {
    width: 100%;
    background-color: var(--clr-foreground);
    border-radius: var(--border-radius);
    margin-bottom: var(--gap);
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.notification {
    display: flex;
    padding: var(--gap);
    gap: var(--gap);
    flex-wrap: wrap;
    transition: var(--transition);
}

.notification:focus-within {
    background-color: var(--clr-highlight);
}

.notification-folder {
    display: none;
}

.notification img {
    height: 1.5rem;
    object-fit: cover;
    aspect-ratio: 1;
    transition: var(--transition);
}

.notification:focus-within img {
    height: 4rem;
}

.notification-body {
    width: 100%;
    display: flex;
    gap: var(--gap);
}

.notification-content {
    flex-grow: 1;
    min-width: 0;
}

.notification-content div {
    user-select: auto;
    -webkit-user-select: auto;
}

.notification-title {
    color: var(--clr-font);
}

.notification-text {
    max-height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.notification-text>div {
    color: var(--clr-font-faded);
}

.notification:focus-within .notification-text {
    max-height: 500px;
}

.notification-actions {
    max-height: 0;
    align-items: center;
    border-radius: var(--border-radius);
    overflow: hidden;
    display: flex;
    transition: var(--transition);
    flex-wrap: nowrap;
    gap: 2px;
}

.notification-actions:has(.notification-reply-action) {
    width: 100%;
}

.notification:focus-within .notification-actions {
    max-height: 100px;
}

.notification-action {
    padding: 6px;
    background-color: var(--clr-accent);
    cursor: pointer;
}

.notification-action:hover {
    background-color: var(--clr-accent-highlight);
}

.notification-reply-action {
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    background-color: var(--clr-accent);
}

.notification-reply-input {
    height: 100%;
    outline: none;
    background-color: transparent;
    border: none;
    color: var(--clr-font);
    flex-grow: 1;
    padding: 0 var(--gap);
}

.notification-reply-input::placeholder {
    color: var(--clr-font-faded);
}

.notification-reply-send {
    width: 2rem;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.notification-reply-send svg {
    height: 100%;
    width: auto;

}

#headsup-notifications {
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
}

#headsup-notifications:has(.bounce) {
    margin-top: var(--gap);
}

.headsup-notification {
    overflow: hidden;
    height: 0;
    padding: 0;
    width: 100%;
    transition: var(--transition);
    background-color: var(--clr-foreground);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.headsup-notification.bounce {
    height: 2.3rem;
    padding: var(--gap);
}