#options-container {
    display: flex;
    justify-content: flex-end;
    padding: 0 .3rem;
}

#options-container>div {
    height: 1rem;
    width: 1rem;
}

#options-container>div>svg {
    width: 100%;
    height: auto;
}

#sync path {
    fill: white;
}