#tabs-container {
    display: flex;
    border-radius: var(--border-radius);
    overflow: hidden;
    padding: 0;
    z-index: 1;
}

.tab {
    padding: var(--gap);
}

.tab.active {
    background-color: var(--clr-background-bright);
}

#tab-bodies-container {
    margin: 0;
    flex-grow: 1;
    position: relative;
    overflow: auto;
}

#tab-bodies-container:has(>div:not(.inactive)) {
    min-height: 300px;
}


.tab-body {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
    padding: var(--gap);
    padding-bottom: 0;
}

.tab-body.inactive {
    overflow: hidden;
    display: none !important;
}