#tabs-container {
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    padding: 0;
}

.tab {
    background-color: var(--clr-background);
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--gap);
    transition: var(--transition);
}

.tab:hover {
    background-color: var(--clr-baclground-accent);
}

.tab.active {
    background-color: var(--clr-baclground-accent);
    filter: brightness(200%);
}

#tab-bodies-container {
    overflow: hidden;
    margin: 0;
    max-height: 0;
    transition: var(--transition);
}

#tab-bodies-container:has(.active) {
    max-height: 50vh;
}

.tab-body {
    width: 100%;
    transition: var(--transition);
    max-height: 0;
    overflow: hidden;
}

.tab-body.active {
    max-height: 50vh;
    padding: var(--gap);
    overflow: auto;
}