#tabs-container {
    display: flex;
    flex-wrap: wrap;
    padding: var(--gap) 0;
}

#tab-icons {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: var(--gap);
    flex-grow: 1;
}

.tab {
    height: 2.5rem;
    flex-grow: 1;
    --color: var(--clr-primary)
}

.tab.active {
    --color: var(--clr-accent)
}

.tab svg {
    height: 100%;
    width: 100%;
}

.fill path {
    fill: var(--color);
    transition: var(--transition)
}

.stroke path {
    stroke: var(--color);
    stroke-width: 0.7px;
    transition: var(--transition)
}

.tab-body {
    width: 100%;
    flex-shrink: 0;
    max-height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.tab-body.active {
    padding: var(--gap);
    max-height: 500px;
}

#tabs-body-container>.tab-body {
    height: 100%;
    width: 100%;
    overflow: scroll;
}